{% extends "base.html" %}

{% block content %}
<div class="row columns">
<nav aria-label="You are here:" role="navigation">
<ul class="breadcrumbs">
<li><a href="/">Home</a></li>
<li><a href="/items">Items</a></li>
<li>
<span class="show-for-sr">Current: </span> {{item.title}}
</li>
</ul>
</nav>
</div>
<div class="row">
<div class="medium-12 columns">
<h3>{{item.headline}}</h3>
<p>{{item.description|truncate(256)}}</p>
<p><a href="{{item.url}}" target="_blank" class="button{% if item.url is none %} disabled{% endif %}">Product Link</a></p>

</label>
<div class="row">

</div>
<div class="small secondary expanded button-group">
<a href="edit" class="button">Edit</a>
<a href="delete" class="button">Delete</a>

</div>
 
</div>

</div>
{% endblock %}